<div>
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <div class="d-flex align-items-center p-4 bg-light bg-cover">
                <img src="../../../../assets/images/pasillo.png" class="img-fluid portada">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex justify-content-center mb-5">
                    <img src="../../../../assets/images/logo_superchollo.png" class="w-25">

                </div>
                <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="mb-3 d-flex row">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <div class="input-group">
                            <input type="text" formControlName="username" id="username" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 d-flex row">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input *ngIf="!visible" type="password" formControlName="password" id="password" class="form-control">
                            <input *ngIf="visible" type="text" formControlName="password" id="password" class="form-control">
                            <button type="button" (click)="changePasswordVisibility()" class="btn btn-outline-danger small-button">
                                <mat-icon>{{icono}}</mat-icon>
                            </button>
    
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger mb-3">Entrar</button>
                    </div>
                </form>
                
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>